CompileFlags:
  Add:
    - "-std=c++17"
    - "-IC:/Users/schm3/OneDrive/Desktop/Space Invaders/src"
    - "-IC:/Users/schm3/OneDrive/Desktop/Space Invaders/build/vcpkg_installed/x64-windows/include"
